h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.03em;
}
footer{
    background-color: #2F303A;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */
.header-nav{
    display: flex;
    gap: 50px;
}
.page-header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}
.contacts-nav-flex{
    display: flex;
    gap: 50px;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo{
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.navigation{
    margin-right: auto;
}
.link-nav{
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-nav:hover, 
.link-nav:focus{
    color: #2196F3;
}
.contacts-nav{
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-nav:hover, 
.contacts-nav:focus{
    color: #2196F3;
}
/* Main index */
.banner{
    background-color: #2F303A;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/Img\ \(16\)\ \(1\).jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1600px;
}
.banner-title{
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
}
.title{
    color: #212121;
}
.content{
    color: #757575;
}
.logo-footer{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}
.logo-web-footer{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
}
.footer-list{
    margin-bottom: 9px;
}
.address{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
}
.address:focus,
.address:hover{
    color: #2196F3; 
}
.contacts-footer{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;
}
.contacts-footer:hover,
.contacts-footer:focus{
    color: #2196F3;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.button{
    cursor: pointer;
}
.banner button{
    display: block;
    background: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px ;
}
.advances{
    display: flex;
    gap: 30px;
}
.title-advances{  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.content-advances {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
.advances-list{
    width: 270px;
}
.title-working{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.working-img{
    display: block;
    max-width: 100%;
    height: auto;
}
.working{
    display: flex;
    gap: 30px;
}
.team{
    display: flex;
    gap: 30px;
}
.title-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.title-teammate{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.container-team{
    text-align: center;
      
}
.section-team{
    background-color:#F5F4FA ;
}
.team-content{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team-soc-list{
display: flex;
justify-content: center;
gap: 10px;
}
.team-soc-item{
width: 44px;
height: 44px;
}
.team-soc-link{
width: 100%;
height: 100%;
background-color: tomato;
border-radius: 50%;
display: block;
}

.content-post{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.button-filter{
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
}
.button-filter:focus,
.button-filter:hover{
    background: #2196F3;
    color: #FFFFFF;
}
.title-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.current{
    color: #2196F3;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-working{
    padding-top: 0;
}
.container-filter{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.projects-item{
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.projects-list{
    flex-basis: calc((100% - 60px) / 3);
}
.container-projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
.content-view{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }